body {
    font-family: "Popins", sans-serif;
}

.sidenav {
    height: 100%;
    width: 100px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #009EFF;
    overflow-x: hidden;
    padding-top: 20px;
    justify-content: space-between;
}

.sidenav i {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    margin-left: 10px;
    margin-top: 20px;
}

.sidenav i:hover {
    color: #9c0000;
    transition: 0.5s;
}

.rack-container {
    margin-left: 100px;
    padding: 0px 10px;
}

.rack-details {
    margin: top 10px;
    width: 100%;
    max-width: 1200px;
    background-color: #ffffff;
    border: 1px #B1B2FF solid;
    margin-top: 10px;
}

.table-tittle {
    margin-top: 10px;
    background-color: #009EFF;
    font-weight: 600;
    color: red;
}

.img-producto {
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px #B1B2FF solid;
    border-radius: 10px;
}

th {
    text-align: center;
    padding: 8px;
    background-color: #9AD0EC;
    border: 1px #B1B2FF solid;
}

td {
    padding: 8px;
    margin-top: 5px;
    border: 1px #B1B2FF solid;
}

tr {
    align-items: center;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #D6E5FA;
}

a {
    text-decoration: none;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}