@import "../components/card-producto.css";
@import "../components/search-input.css";
@import "../components/navbar.css";

body {
  background-image: linear-gradient(to top,
      #EEF1FF, #d0deff, #D2DAFF);
}

.list-products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
  margin: 0 auto;
  max-width: 1000px;
}