@import url(https://fonts.googleapis.com/css2?family=Inter);
* {
    font-family: 'Inter';
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

input:focus, select:focus, textarea:focus {
    outline: none;
}


/* Botones */
.btn {
    padding: 10px;
    border: solid 1px #EDEDF0;
    border-radius: 6px;
    transition: background-color 0.5s;
    background-color: #fff;
}

.btn:hover {
    background-color: #f8f7f7;
}

.btn-primary {
    background-color: #1A83E4 !important;
    color: #fff;
}
.mt-4 {
    margin-top: 1rem;
}

.text-center {
    text-align: center;
}
.main-navbar {
    background: #fbfbfb;
    box-shadow: 1px 1px 5px #cfcfcf;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
}

.main-navbar-content {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.logo {
    font-weight: bold;
    font-size: 2rem;
}
.logo-text {
    display: none;
    margin-left: 10px;
}
@media (min-width:450px) {
    .logo-text {
        display: inline-block;
    }
}

.btn-user .user-name {
    margin-left: 4px;
    font-size: 1.1rem;
}
.pagination {
    margin: 40px auto;
    max-width: 1000px;
    text-align: center;
}
.page-number {
    display: inline-flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    color: #1A83E4;
}

.page-actions {
    display: inline-flex;
    height: 30px;
    justify-content: center;
    align-items: center;
    color: #1A83E4;
}
.page-number-selected {
    border: solid 2px;
}

