@import url(https://fonts.googleapis.com/css2?family=Inter);
* {
  font-family: 'Inter';
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
}


/* Botones */
.btn {
  padding: 10px;
  border: solid 1px #EDEDF0;
  border-radius: 6px;
  transition: background-color 0.5s;
  background-color: #fff;
}

.btn:hover {
  background-color: #f8f7f7;
}

.btn-primary {
  background-color: #1A83E4 !important;
  color: #fff;
}

.divider {
  padding-top: 140px;
}
.mt-4 {
    margin-top: 1rem;
}

.mr-4 {
    margin-right: 1rem;
}

.ml-4 {
    margin-left: 1rem;
}

.text-center {
    text-align: center;
}
.main-navbar {
  background: #608aeb;
  display: flex;
  box-shadow: 1px 1px 5px #cfcfcf;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: fixed;
  z-index: 100;
  width: 100%;
}

.controls-products {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}

.main-navbar-content {
  display: flex;
  max-width: 1000px;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}

.logo-img {
  max-width: 60px;
  max-height: 60px;
  margin-left: 20px7;
}

.logo {
  font-weight: bold;
  font-size: 2rem;
  color: white;
}



@media (min-width:450px) {
  .logo-text {
    display: inline-block;
  }
}

.right-side-navbar-content {
  display: flex;
  margin-right: 50px;
  margin-top: 25px;
  justify-content: end;
}

.btn-user-panel {
  margin: 15px;
  font-size: 1.1rem;

}

.btn-shoppingcart {
  margin: 15px;
  font-size: 1.1rem;
}

.user-name-login {
  color: #fff;
}

.btn-user {
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

.btn-user:hover {
  background: rgb(44, 33, 196);
  scale: 1.1;
  transition: .8s;
}

.btn-shoppingcart-icon {
  font-size: 20px;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

.btn-shoppingcart-icon:hover {
  background: rgb(44, 33, 196);
  scale: 1.1;
  transition: .8s;
}
.pagination {
  margin: 40px auto;
  max-width: 1000px;
  text-align: center;
  border-radius: 10px;
  background: #f5f5f5;
  box-shadow: 1px 1px 5px #cfcfcf;
  padding: 10px;
}

.page-number {
  display: inline-flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  color: #1A83E4;
  border-radius: 10px;
}

.page-actions {
  display: inline-flex;
  height: 30px;
  justify-content: center;
  align-items: center;
  color: #1A83E4;
  border-radius: 10px;
}

.page-number-selected {
  border: solid 2px;
}

