.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  min-width: 300px;
  background: #fff;
  padding: 5px 10px;
  border-radius: 100px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
  max-width: 1400px;
  width: 50%;
  border-color: #DFE9F3;
  box-shadow: 1px 1px 5px #929191;
}

.navbar input {
  background: #fff;
  width: calc(100% - 40px);
  height: 35px;
  font-weight: 800;
}
.main-navbar {
  background: #608aeb;
  display: grid;
  grid-template-columns: 240px 400px 1fr;
  box-shadow: 1px 1px 5px #cfcfcf;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  height: 80px;
}

.controls-products {
  width: 100%;
}

.main-navbar-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-img {
  max-width: 60px;
  max-height: 60px;
  margin-left: 20px;
}

.logo {
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
}



@media (min-width:450px) {
  .logo-text {
    display: inline-block;
  }
}

.right-side-navbar-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;
  color: #fff;
}

.btn-user-panel {
  font-size: 1.1rem;
}

.btn-shoppingcart {
  font-size: 1.1rem;
}

.btn-user {
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

.btn-user:hover {
  background: #2c21c438;
  transition: .8s;
}

.btn-shoppingcart-icon {
  font-size: 20px;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

.btn-shoppingcart-icon:hover {
  background: #2c21c438;
  transition: .8s;
}
p {}

body {
  background-color: #dae0fb;
}

.servicios {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 50px;
  max-width: 70%;
  background-color: #fff;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.imagen {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.product-info {
  margin: 20px;
  margin-top: 30px;
  display: list-item;
  list-style-type: none;
  justify-content: space-around;
}

.product-info-container {
  margin-top: 30px;
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 8px;
}

.price-product {
  font-size: 30px;
  font-weight: 800;
  margin: 10px;
  color: #c10000;
}

.form-select {
  margin-top: 8px;
  border-color: #000000;
  border-style: dotted;
  background-color: #D2DAFF;
  border-radius: 10px;
  padding: 5px;
}

.info {
  margin-top: 8px;
}

.card-image-not-found {
  background: url(/images/image_not_available.png?70ac66a44a9b3620e193add8d8bb9101);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.titulo {
  font-size: 24px;
  font-weight: bold;
}

.description {
  margin-bottom: 10px;
}

label {
  font-weight: bold;
}

.btn {
  margin-top: 20px;
}

hr {
  margin: 10px;
}
